attrs==19.1.0
CacheControl==0.12.5
cachy==0.2.0
certifi==2018.11.29
chardet==3.0.4
cleo==0.6.8
enum34==1.1.6
functools32==3.2.3.post2
glob2==0.6
html5lib==1.0.1
httpie==1.0.2
idna==2.8
jsonschema==3.0.1
lockfile==0.12.2
msgpack==0.6.1
pastel==0.1.0
pathlib2==2.3.3
pkginfo==1.5.0.1
poetry==0.12.11
Pygments==2.3.1
pylev==1.3.0
pyparsing==2.4.0
pyrsistent==0.14.11
requests==2.21.0
requests-toolbelt==0.8.0
scandir==1.10.0
shellingham==1.3.0
six==1.12.0
tomlkit==0.5.3
typing==3.6.6
urllib3==1.26.5
virtualenv==16.4.3
webencodings==0.5.1
